<div class="listing">
  <table>
    <tr valign="center">
      <td align="center">
        <img src="assets/folder.jpg" width="102px" height="102px"/>
      </td>
    <tr>
      <td align="center">
        <a href="/dil_collections/<%=document[:id]%>"><%=document[:id]%></a>
        </td>
    </tr>
  </table>
</div>      