<div class="listing">
  <table>
    <tr valign="center">
      <td align="center">
        <img src="/images/folder.jpg" width="102px" height="102px"/>
      </td>
    <tr>
      <td align="center">
        <a href="/dil_collections/<%=document[:id]%>/edit"><%=document[:id]%></a>
        <%#<%= link_to_document(document, :label => document.get(:title_t), :counter => (counter + 1 + @response.params[:start].to_i)) %>
      </td>
    </tr>
  </table>
</div>      