<%#= render :partial => "dil_collections/index_grid", :locals => {:document => document} %>

<div class="listing">
  <div id="images">
    <ul>
     <% if !document[:id].nil? %>
       <li pid="<%=document[:id]%>" title="<%=document[:title_t]%>"><img src="assets/folder.jpg" width="102px" height="102px"/>	
      <% end %>
     </li>
   </ul>
  </div>
</div>
