<%if @collection.parent_collections.present? %>
  <div><h4>Parent Collections</h4></div>
  <% @collection.parent_collections.each do |parent_collection| %>
    <div><%= link_to "#{parent_collection.datastreams['descMetadata'].find_by_terms(:title).text()}", dil_collection_path(parent_collection) %></div>
  <% end %>
<% end %>