<% if params[:files] %>
  <script type="text/javascript">
    $(document).ready(function() {
      $("#accordion").accordion({active: 2});
    });
  </script>
<% end %>
<% stylesheet_links << "../plugin_assets/hydra_repository/javascripts/date-picker/css/datepicker" %>
<% javascript_includes << infusion_javascripts(:default_no_jquery, :extras=>[:inline_editor_integrations], :debug=>true, :render_html=>false) %>
<% javascript_includes << ["jquery.jeditable.mini.js", "date-picker/js/datepicker", "jquery.form.js", 'custom', "catalog/edit", "jquery.hydraMetadata.js", "jquery.notice.js", {:plugin=>:hydra_repository}] %>
<% javascript_includes << "/plugin_assets/fluid-infusion/infusion/components/undo/js/Undo.js" %>
<% stylesheet_links << "/plugin_assets/hydrangea_collections/stylesheets/dil.css" %>

<div class="document_viewer" id="cover_container">

  <div id="accordion">
    <h2 class="section-title"><a href="#">Collection</a></h2>
    <%= render :partial => 'hydrangea_collections/show_members' %>
    <h2 class="section-title"><a href="#">Description</a></h2>
    <!--<%= render :partial => 'hydrangea_collections/show_description' %>-->
  </div>

</div>

<%= async_load_tag(asset_file_assets_path(params[:id]), 'uploads') %>

