<% sidebar_items << capture do %>
  <%= render :partial=>'parent_collections' %>
<% end %>

<div id="accordion">
    
  <h2 class="section-title"><%=@collection.datastreams["descMetadata"].find_by_terms(:title).text()%></h2>
  <%= render :partial => 'dil_collections/show_members', :locals => { :collection_id => @collection.id } %>
  <br/>
   <!--<h2 class="section-title"><a href="#">Description</a></h2>-->
</div>