<% content_for :page_scripts do %>
	<%= javascript_include_tag 'croptool/index.js' %>
<% end %>

<!-- crop tool above -->
<!-- <div id="crop-tool" style="background-color:#000000; width:100%; height: 500px; border: thin solid blue;"> -->
	<div id="crop-tool" style="background-color:#000000; width: 800px; height: 800px; border: thin solid blue;">
		<div id="metadata" style="display:none">
			<div id="crop-details"></div>
		</div> <!-- end #metadata -->
		<div id="collection"  style="display:none">
			<div id="crop-list">
				<ul id="sortable">

				</ul>
			</div> <!-- end #crop-list -->
		</div> <!-- end #collection -->
	</div> <!-- end #crop-tool -->

	<script type="text/javascript">
			// The last parameter hides the crop tool if the image is already a crop, or if the user is logged out. Added "|| true" to disable cropping.
			CropTool.initialize("<%= params[:id] %>", true, $("#crop-tool"), <%= @multiresimage.is_crop? || !user_signed_in? %> || true);
	</script>
