<% if can?(:read, @multiresimage) %>
              <% unless @multiresimage.datastreams["DELIV-OPS"].find_by_terms(:svg_image).empty? %>
				<nav id="downloads">
                    <ul>
                            <% image_max = @multiresimage.longside_max %>
                            <a target="_blank" href="<%=DIL_CONFIG['dil_app_url']%>multiresimages/get_image/<%= @multiresimage.pid%>/<%= 1600 < image_max ? 1600 : image_max %>">Download</a></li>
                    </ul>
				</nav>
              <% end %>
<% end %>

