              <% unless @multiresimage.VRA.find_by_terms(:image, :relationSet, :relation).text.empty? %>
                  <li>Related Images
                    <ul>
                      <div class="gallery_container">
                        <% @multiresimage.related_ids.each do |work_pid| %>
                            <div class="listing"><a href="/catalog/<%= work_pid %>"><img src="/multiresimages/get_image/<%= work_pid %>/120"></a></div>
                        <% end %>
                      </div>
                    </ul>
                  </li>

              <% end %>

