              <%# Only display technical metadata if the user is a member of staff %>
              <% if can? :view_technical_metadata, @multiresimage %>
                  <li>
                    <%= link_to "EXIF Technical Metadata", technical_metadata_path(:id=>@multiresimage.pid, :type=>'ARCHV-EXIF', :format=>'xml') %>
                  </li>
                  <li>
                    <%= link_to "MIX Technical Metadata", technical_metadata_path(:id=>@multiresimage.pid, :type=>'ARCHV-TECHMD', :format=>'xml') %>
                  </li>
                  <li>
                    <%= link_to "MIX Technical Metadata for JP2", technical_metadata_path(:id=>@multiresimage.pid, :type=>'DELIV-TECHMD', :format=>'xml') %>
                  </li>
              <% end %>
