<% sidebar_items << capture do %>
  <%= render :partial=>'shared/menu' %>
<% end %>
		

  <ul class="nav nav-tabs">
    <li class="active"><a href="#tab1" data-toggle="tab">Description</a></li>
    <li><a href="#tab2" data-toggle="tab">Crop</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="tab1">
      <%=render :partial=>'edit_description' %>
    </div>
    <div class="tab-pane" id="tab2">
      <%=render :partial=>'crop' %>
    </div>
  </div>

