<% display_type = params[:display_type].nil? ? 'grid' : params[:display_type] %>
<% unless display_type == 'list' || display_type == 'grid'  %>
  <table>
    <tr>
      <th class="title">Title</th>
      <th class="creator">Author</th>
      <th class="journal">Work</th>
      <th class="deposited">Deposited</th>
      <th class="files">Files</th>
    </tr>
  <% end %>
  
<%= render :partial => 'document', :collection => docs, :as => :document %>

  
<% unless display_type == 'list' || display_type == 'grid'  %>
  </table>
<% end %>
