<div id="ft">
  <div class="contact_info"></div>
    <div class="aux_links"> </div>
  <div id="footer_notices">
      <div id="footer_logo" class="pull-left"><%= image_tag('site/NU_Logo_white.png', :height => 120, :alt => "Northwestern University logo") %></div>
    <div id="bottom_text" class="pull-left">
      <p>
        For more information contact <a href="http://www.library.northwestern.edu/about/library-administration/departments-offices/repository-and-digital-curation" class="outline_on">Repository and Digital Curation</a>
      </p>

      <p> 
        <a href="http://www.library.northwestern.edu/" class="outline_on">Northwestern University Library</a>; 1970 Campus Drive; Evanston, IL 60208-2300
      </p>

      <p>
        Phone: <a href="tel:+18474671080" class="outline_on">847-467-1080</a>;
        E-mail: <a href="mailto:repository@northwestern.edu" class="outline_on">repository@northwestern.edu</a>
      </p>

      <p>
        <a href="http://www.northwestern.edu/disclaimer.html" class="outline_on">Disclaimer</a> and
        <a href="http://policies.northwestern.edu/" class="outline_on">University Policy Statements</a>
        &copy; 2016 Northwestern University
      </p>
    </div>
  </div>
</div>
