
<div id="hd">
  <div id="top-menu"><%= render :partial => '/user_util_links' %></div>

  <div class="container logo-search">
    <div class="row">

      <div class="col-md-6" id="logo"><%= link_to(image_tag('site/repository-images.png', :alt => "Northwestern University Library logo"), "/", :title=>"Return Home", :class=>"logo") %></div>

      <div class="col-md-6" id="searchbar">
        <%= render_search_bar  %>
      </div>

    </div> <!-- end row -->
  </div>
</div>
