<h1>Help</h1>
<p><strong>Repository | Images</strong> at Northwestern University Library is a database that contains over 130,000 digital images in the arts, architecture, anthropology, and the humanities.
<hr>
<p><strong>Search</strong> for images by entering keyword terms in &quot;Search&quot; at the top of the page.  Choose how many images you want to see on one page by using the dropdown menu and select one of the following: 10, 20, 50, 100 per page.

<p><strong>Narrow your search results</strong> by using the facets on the left side of the page under &quot;Limit your search&quot;.  Click on the arrows to expand the lists of facets/words. Then click on any of the words to view the related images. Notice that your search terms appear towards the top of the page and can be deleted one by one by clicking on the X.

<p><strong>Create a detail</strong> from any image by opening the full view by clicking on the thumbnail and using the crop tool to zoom (+ / -) to position the image. Press the small blue square in the right hand corner of the crop tool. It will ask you to “Create a new crop using current viewport?” Press &quot;OK&quot;. The detail you create is saved in the group called &quot;My Image Details&quot; along with accompanying metadata in the upper right corner of the screen. You may use the &quot;Edit&quot; metadata feature to add additional information to the detail of the image.

<p><strong>Gather images</strong> from your search results and build &quot;Image Groups&quot; by using &quot;create new image group&quot; on the upper left side of the page. Enter the title for the group and press the return button on your keyboard. Add a single image to a group by dragging it over, or add multiple images by clicking the checkboxes under the images and dragging one of the selected images into the group. Please note that you may have to wait a few minutes for all your images to appear in your group.

<p><strong>Your personal groups</strong> will appear on the left side of the page. Click on the title of a group to open it. Reorder images in a group by clicking and holding on the title of the image (below the thumbnail) and drag the image either to the right or left of another image. To delete an image from a group, click the &quot;x&quot; on its upper right corner of the image.

<p><strong>Export images</strong> into a PowerPoint presentation by opening an &quot;Image Group&quot; and clicking on &quot;Export to PowerPoint&quot;.  The PowerPoint presentation will be emailed to you. Check your email for the message and download the PowerPoint from there.

<p><strong>Upload</strong> your own images by clicking on &quot;Upload Images&quot; and follow the five steps stated on the page. Once the upload is complete the images will appear in &quot;My Uploads&quot; and can be added to &quot;Image Groups&quot;.  Please note that you may have to wait a few minutes for all your images to appear. Edit the metadata by clicking on one of the images under &quot;My Uploads&quot; and/or &quot;My Image Details&quot;, then open a full view images and click on &quot;Edit&quot; to the upper right.
	<hr>