<div class='panel panel-danger'>
  <div class="panel-heading">
    <h3 class="panel-title">Application Error</h3>
  </div>
  <div class="panel-body">We're sorry, but the Images server is experiencing problems. It will be fixed as soon as possible. If you need assistance please email <%= mail_to("repository@northwestern.edu", "Images Support", subject: "Technical Problem with Images")%>.
  </div>

</div>
