<div id="results" class="home-text">
	<div class="home_text">
		<h2>Welcome to the Northwestern University Digital Image Library</h2> <%# NU Library DIL %>
		<p>The Digital Image Library (DIL) is an image database that houses the Visual Media Collection digitization project and the Saskia Art Images collection.
			The DIL allows faculty to create, present, and share image presentations with the ability to add personal images.</p>
		<p>If you have a valid NetID, you can Login above to also search the images not available to the public.</p>
	</div>

</div>
