
<div class="home_text">
  <h2>Welcome to the Northwestern University Digital Image Library</h2>
  <% DIL_CONFIG["institutional_collection"].each do |coll| %>
    <div>
        <a href="#{coll[ 'solr_url' ]}"><img src="#{ coll[ 'image_url' ] }">#{ coll[  'name' ]}</img></a>
    </div>
    <br/>
  <% end %>
</div>
