<div class="home_text">
  <h2>Welcome to the Northwestern University Digital Image Library</h2>
  <% DIL_CONFIG["institutional_collection"].each do |inst_collection| %>
    <div>
     <img src="<%=inst_collection[1]["image_url"]%>"><a href="<%=inst_collection[1]["solr_url"]%>"><%=inst_collection[1]["title"]%></a></img>
    </div>
    <br/>
  <% end %>
</div>
