<div id="results" class="home-text">
	<div class="home_text">
		<h2>Welcome to the Northwestern University Digital Image Library</h2> <%# NU Library DIL %>
		<p>If you have a valid NetID, you can Login above to also search the images not available to the public.</p>
	</div>

</div>
