<% # container for all documents in index view -%>
<div id="documents">
  <label class="checkbox"><%= check_box_tag 'all', 'all', false, 'data-behavior'=>'check-all'%> All</label>
  <ul>
  <% @document_list.each do |document| %>
    <li>
        <%= render_index_field_value :document=>document, :field=>"title_t" %>
        <%= render(:partial => 'catalog/folder_control', :locals => {:document=> document}) %>
    </li>
  <% end %>
  </ul>
  <%= button_to 'Edit Batch', folder_index_path, :method=>:get, :class=>'btn btn-primary' %>
</div>
