<div class="sign-in">
	<div class="signin-box">
  		<h2>Sign in with a NetID</h2>
		<hr>
		<%= form_for(resource, :id=>'loginform', :as => resource_name, :url => '/users/auth/ldap/callback', :noValidate=>'') do |f| %>
			<div class="email-div">
				<label for='username'><strong class="email-label">Username</strong></label>
				<input type='text' id='username' name='username'/>
			</div>
			<div class="passwd-div">
				<label for='password'><strong class="passwd-label">Password</strong></label>
				<input type='password' id='password' name='password'/>
			</div>
			<%= f.submit "Sign in", :name=>'signIn', :id=>'signIn' %>
			<% if devise_mapping.rememberable? -%>
			<label class="remember" onclick="">
				<%= f.check_box :remember_me %>
				<strong class="remember-label">
					Remember me
				</strong>
			</label>
			<% end -%>
		<% end %>
		<ul>
			<li>
				<a href="https://validate.it.northwestern.edu/idm/user/login.jsp" target="_blank">Forgot your password?</a>
				<%#= render :partial => "devise/shared/links" %>
			</li>
		</ul>
	</div>
</div>
