<div data-ajax-modal="container">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
    <h2>Edit Collection Info</h4>
  </div>
  <%= render :partial => 'form' %>
</div>
