<div class='container-fluid'>
  <div class="row col-md-9 col-lg-8">
  <% if @institutional_collections.present? %>
    <h2>Public Collections</h2>
    <p><%= link_to("Create New Collection", new_institutional_collection_path, :data => {:ajax_modal => "trigger"}, class: 'btn btn-default btn-large') %></p>



    <table class='table table-striped'>
      <tbody>
      <% @institutional_collections.to_a.each do |collection| %>
        <tr>
          <td> <%= link_to collection.title, institutional_collection_path(collection) %> </td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td> <%= collection.description %> </td>
          <td>
            <%= button_to('Delete', "/institutional_collections/remove/", class: 'btn btn-xs btn-danger') %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>


  <% end %>
  </div>
</div>
