<div data-ajax-modal="container">

<h4>Rights for <%=@collection.collection_title_formatter %></h4>
<p><%=@collection.rights_description %></p>

<p><%= link_to "Close", catalog_index_path, class: 'btn btn-primary btn-large', :data => {:dismiss => "modal"} %></p>
</div>
