<div data-ajax-modal="container">
  <div class="modal-header">
	<h2><%=@collection.collection_title_formatter %></h2>
  </div>
  <div class="modal-body">
	<h4>Collection Description</h4>
	<p><%=@collection.description %></p>
	<h4>Rights Description</h4>
	<p><%=@collection.rights_description %></p>
	<p><%= button_to "Close", catalog_index_path, class: 'btn btn-primary btn-large', :data => {:dismiss => "modal"} %></p>
  </div>
</div>
