body {
 background: url("/assets/site/header_bg.png") repeat-x scroll 0 0 transparent !important;
 margin-top: 0;
 padding-top: 0;
 spacing-top: 0;
}
nav {
 margin-top: 7.4em;
}
nav ul {
 list-style-type:none;
 margin:0;
 padding:0;
}
nav li
{
 display:inline;
 padding-right:10px;
}
#hd {
 height: 105px;
 margin-top: 0;
 padding-top: 0;
 spacing-top: 0;
}

.pageEntriesInfo {
  background-color: inherit;
  border-bottom: 1px solid #AAAAAA;
  border-top: 0;
  border-left: 0;
 border-right: 0;
  text-align: left;
}

#sortAndPerPage label {
  display: inline;
}

th, td {
  border: 0;
}

ul li {
  list-style: none;
}

#search {
  text-align: right;
}

#search .submit {
  margin: 0;
  padding: 4px 10px 4px;
}

#search #q {
  width: 400px;
}
a:link, a:visited, a:active {
  color: #825991;
  border-bottom: none;
}


/* this is actually a bootstrap override */
form.form-search {
  margin-bottom: 0;
}

#documents {
    margin: 0 10px;
    padding: 0;
    width: 800px;
}

.msg.alert{
 margin: 0;
}

.msg.error{
 margin: 0;
}

.msg.notice{
 margin: 0;
}


.accordion h2 {
	float: left;
	font-size: 100%;
	line-height: 100%;
	margin-right: 5px;
}
.accordion div {
	float: left;
}
