th, td {
  border: 0;
}


#search .submit {
  margin: 0;
  padding: 4px 10px 4px;
}

body {
  text-align: left; /*will be fixed in hydra 4.0*/
}

/* this is actually a bootstrap override */
form.form-search {
  margin-bottom: 0;
}
