@font-face {
    font-family: 'Glyphicons Halflings';
    src: url('/assets/bootstrap/glyphicons-halflings-regular.eot');
    src: url('/assets/bootstrap/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('/assets/bootstrap/glyphicons-halflings-regular.woff') format('woff'), url('/assets/bootstrap/glyphicons-halflings-regular.ttf') format('truetype'), url('/assets/bootstrap/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}

body {
 background: none;
 margin-top: 0;
 padding: 0;
 spacing-top: 0;
}
#hd {
 background-color: #490059;
 width: 100%;
 margin: 0;
 padding: 0;
 spacing-top: 0;
}
#hd .logo-search {
  padding: 2em 1em;
}
#hd nav {
 background-color: #efefef;
 overflow: hidden;
 padding: .5em 0;
 ul {
 	float: right;
 }
}
#hd nav ul,
nav#downloads ul {
 list-style-type:none;
 margin:0;
 padding:0;
}
#hd nav li,
nav#downloads ul li {
 display:inline;
 padding-right:10px;
}

#bd {
	margin-bottom: 0;
}

#ft {
	background-color: #333;
	margin: 0;
}

#footer_notices {
	padding-top: 0;
}

#bottom_text {
	padding: 1em;
	color: white;
	a {
		color: #999;
		&:hover {
			color: white;
		}
	}
}

#results {
	min-height: 200px;
}

.pageEntriesInfo {
  background-color: inherit;
  border-bottom: 1px solid #AAAAAA;
  border-top: 0;
  border-left: 0;
 border-right: 0;
  text-align: left;
}

#sortAndPerPage label {
  display: inline;
}

th, td {
  border: 0;
}

ul li {
  list-style: none;
}

li {
  list-style: none;
}

#search {
  text-align: left;
}

#search .submit {
  margin: 0;
  padding: 4px 10px 4px;
}

#search #q {
  width: 400px;
}
a:link, a:visited, a:active {
  color: #825991;
}


/* this is actually a bootstrap override */
form.form-search {
  margin-bottom: 0;
}

#documents {
    margin: 0 10px;
    padding: 0;
    width: 800px;
display: inline;
}

/** Grid view **/
.document{
  border-bottom:0;
  padding-bottom:0;
  clear:none;
}

.msg.alert{
 margin: 0;
}

.msg.error{
 margin: 0;
}

.msg.notice{
 margin: 0;
}

#bd {
	padding-top: 1em;
}

#bd #sidebar {
width:	24%;
overflow: hidden;
vertical-align: top;
}
#bd #main {
padding-left: 0;
width: 75%;
}

/*.home_text {
color: #222;
float: left;
font-size: 18px;
margin-top: 30px;
padding: 0 25px;
width: 100%;
}*/

#main_container nav#downloads {
display: inline-table;
}
#main_container nav#downloads ul {
float: right;
}


#facets div h3 {
    font-size: 16px;
    font-weight: bold;
}


#facets div h3:hover {
    cursor: pointer;
}

#facets li.more_facets_link {
    text-align: left;
    font-weight: bold;
}
/* Pagination CSS */

div.pagination {
margin: 18px auto;
text-align: center;
}
ul.pagination-container {border:0; margin:0; padding:0; position: relative;}

.pagination-container li {
float:left;
border:0; margin:0; padding:0;
font-size:11px;
list-style:none;
margin-right:2px;
position: relative !important;
}
.pagination-container a {
border:solid 1px #DDD;
margin-right:2px;
}
.pagination-container .disabled {
border:solid 1px #DEDEDE;
color:#888888;
display:block;
float:left;
font-weight:bold;
margin-right:2px;
padding:3px 4px;
}
.pagination-container .next a,
.pagination-container .prev a {
font-weight:bold;
}
.pagination-container .current {
background:#2e4f81;
color:#FFFFFF;
font-weight:bold;
display:block;
float:left;
padding:4px 6px;
}
.pagination-container a:link,
.pagination-container a:visited {
color:#2e4f81;
display:block;
float:left;
padding: 6px 6px;
text-decoration:none;
}
.pagination-container a:hover{
border:solid 1px #2e4f81;
}

.pagination a {
line-height: normal;
}

#appliedParams .label {
position: relative;
display: none;
}

.blacklight-multiresimages-show {
  cursor: default !important;
}

/* New Stuff */

#main-container {
  padding-top: 2em;
}

.sidenav {
  margin-bottom: 1em;
  padding: 0;
  background-color: transparent;
  border: 1px solid #030303;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.065);
  -moz-box-shadow: 0 1px 4px rgba(0,0,0,0.065);
  box-shadow: 0 1px 4px rgba(0,0,0,0.065);

  h5, h4 {
    margin: 0;
    font-weight: bold;
  }

  h5{
    padding: 8px 14px;
    font-size: 13px;
    border-top: 1px solid #030303;
  }

  h4{
    font-size: 16.25px;
    padding: 8px 12px;
  }
  .btn{
    padding: 6px 0;
  }

  h4 .btn{
    border: none;
  }
}

#facets .panel-heading{
  border: 0px solid #000;
  margin-bottom: 0;
  background-color: inherit; 
  padding: 0px;
}

#facets .panel {
  margin-bottom: 0;
  border: none;
}

#facets .panel-title a{
  color: #000;
}

#facets .panel-default{
  border-color: #000;
}

#facets {
  padding-bottom: 3px;
}

.facet-values .facet-label {
  //override any blacklight hyphen definitions made at this (display:inline) level
  word-break: inherit;
  -webkit-hyphens: inherit;
  -moz-hyphens: inherit;
  -ms-hyphens: inherit;
  -o-hyphens: inherit;
  hyphens: inherit;
  //for IE to correctly wrap long words, container must have fixed width
  display: block;
  @media (max-width: 600px) {
    max-width: 250px;
  }
  @media (min-width: 600px) and (max-width: $screen-sm-min){
    max-width: 550px;
  }
}