
label.batch_toggle {
  display: inline;
}
.pagination .prev_page {
    border-bottom: medium none;
    left: 26%;
    margin-left: 1em;
    position: right;
}


.pagination .next_page {
    border-bottom: medium none;
    right: 2.5%;
    margin-left: 1em;
    position: right;
}


span.page a, span.page.current {
    border-bottom: medium none;
    padding: 0.5em 0.5em;
    float: left;
    left: 50%;
    text-decoration: none;
}


span.page.gap {
    vertical-align: bottom;
    float: left;
}


#documents {
  overflow: auto;
}

.listing {
        float: left;
        margin: 10px 10px 10px 10px;
        padding: 8px;
        border: 1px dotted #cccccc;
        width: 150px;
        height: 180px;
}

.listing img { background-color: #FFFFFF;}

.gallery_container {
clear:both;
<!--margin: 10px 10px 10px 75px;-->
/** margin: 20px 20px 20px 275px; **/
}

.member-remove 
{ 
	vertical-align:top;
}

#hd {
  text-align: right;
}

<!--#products { float:left; width: 300px; margin-right: 2em; } -->
#imageCollection { width: 174px; float: left; }
/* style the list to maximize the droppable hitarea */
#imageCollection ul { margin: 0; padding: 1em 0 1em 3em; }

