form.reorderable {
  /*Allows the first (primary) submit button to occur first in the dom,
    but be displayed at the end of the form */
  position: relative;
  padding-bottom: 70px;

  .form-actions.force-bottom {
    position: absolute;
    padding-left: 20px;
    bottom: 0;
    width: 100%;
  }
}


.permissions-table {
  width: auto;
  margin: 10px 0 20px 20px;
}

