<p><h3 class="muted">Upload images</h3><br>
<p><h3>If you would like to upload images please click below to request permission. Please allow a minimum of 24 hours for the request to be fulfilled.</h3>
<br>
<%= form_tag("uploads/notify", method: "post") do %>
<p><%= submit_tag("Request permission for uploads") %>
<% end %>
<p><br>