<p><h3 class="muted">Upload images</h3><br>
<p><h3>If you would like the ability to upload images to the Repository, please click below and an email will be sent on your behalf with the request. Please allow a day minimum for the change to occur.</h3>
<br>
<%= form_tag("uploads/notify", method: "post") do %>
<p><%= submit_tag("Request permission for uploads") %>
<% end %>
<p><br>