<div id="hide_me">
	<% vraSetArray = ["agent", "title", "culturalContext", "date", "subject", "location", "source", "technique", "material", "measurements", "stylePeriod", "inscription", "description", "worktype"] %>
	
	<% vraSetArray.each do |vraSetName| %>
		<% vraSetNameCamelUpper = vraSetName[0].upcase + vraSetName[1..-1]%>

		<div class="control-group">
  			<%= label_tag "multiresimage_#{vraSetName}Set_display", "#{vraSetNameCamelUpper}", :class=>"control-label" %>
  			<div class="controls" id="<%= vraSetName %>Set">
        		<%= text_field_tag "#{vraSetName}Set_display", "", :class=>'col-md-6'%>
  			</div>
		</div>
	<%end%>
</div>
