  <%= check_box_tag 'depositors_agreement'%> By checking this box you agree to the following <a id="terms-opener">Terms and Conditions</a>

  <div id="dialog" title="Terms and Conditions">
	  <p>To properly administer the Digital Image Library and the Northwestern Digital Repository (the "Repository") and preserve the contents for future use, the Board of Trustees of Northwestern University (the "University") requires certain permissions and warrants from depositors. If you are the copyright owner, by accepting this license, you still retain copyright to your work and do not give up the right to submit the work to publishers or other repositories. If you are not the copyright owner, you represent that the copyright owner has given you permission to deposit the work, or that an exception to U.S. copyright law applies.</p>

    <p>By accepting (clicking through) this license, you grant to the University the non-exclusive right to reproduce, translate (as described below), and distribute the submission, including the descriptive information (metadata) and abstract, in any format or medium worldwide and royalty-free, including, but not limited to, publication over the Internet, except as provided for by an addendum to this agreement.</p>

    <p>When provided, the University will clearly identify your name(s) as the author(s) or copyright owner(s) of the submission as well as the name(s) of the copyright owner(s) if different from your name(s), include a statement of your copyright, and will not make any alteration, other than as allowed by this license, to your submission.</p>

    <p>You agree that the University may translate the submission to any medium or format for the purposes of security, back-up, and preservation. You agree that the University may make multiple copies of the submission for the purposes of security, back-up, and preservation. If you cannot make all of the following representations, then you shall contact Digital Collections (digitalcollections@northwestern.edu) before proceeding further. In order to make this submission, you represent that:</p>

    <p>You have the right to grant the rights contained in the license.
      <ol>
        <li>This submission does not, to the best of your knowledge, infringe on anyone's copyright or other intellectual property rights.</li>
        <li>If the submission does contain material for which you do not hold copyright and that exceeds fair use, you have obtained the unrestricted permission of the copyright owner to grant the University the rights required by this license and that such third- party owned material is clearly identified and acknowledged within the text or content of the submission.</li>
        <li>The submission does not contain any confidential information, proprietary information of others or export controlled information.</li>
        <li>There are not any restrictions or required publication delays on the distribution of the submission by the University.</li>
        <li>The information you provide about the submission is accurate.</li>
      </ol>
    </p>

    <p>You understand that if copyright terms for, or ownership of, the submission change, it is your responsibility to notify the University of these changes.</p>
    
    <p>You understand that you may request that the submission be withdrawn from the Northwestern Digital Repository, and, in such an event, the descriptive information (metadata) will be retained and a copy of the submission will be retained in a 'dark archive' where it is no longer publicly accessible.</p>

    <p>If the submission is based upon work that has been sponsored or supported by an agency or organization other than the University, you must fulfill any right of review or other obligations required by the contract or agreement with such an agency or organization before depositing into the Repository.</p>

    <p>By accepting this license, you acknowledge that you have read and agreed to the terms of this agreement and all related Repository and University policies.</p>
  </div>

  <script>
  	$( "#terms-opener" ).click(function(e){
  		$('#dialog').dialog('open');
  		e.preventDefault();
  	});

  	$('#dialog').dialog({
  		modal: true,
  		autoOpen: false,
  		height: 255,
  		width: 300
  	});
  </script>