<%= render :partial=>'/shared/page_header' %>
<ul>
<% @policies.each do |v| %>
  <li><%= link_to v["title_t"].first, edit_policy_path(v["id"]) %></li>
<% end %>
</ul>


<div class="form-actions">
  <%= button_to "Create a Policy", new_policy_path, :method=>:get, :class=>"btn btn-primary" %>
</div>
